EMAIL=someone@gmail.com
PASSWORD=secret 
WEBSITE=https://salus-it500.com/public/login.php
PORT=7000
APP_ENV=local
MY_TOKEN=rtwert64526n543b73456jn7b45
DEV_HOSTNAME=http://localhost
FIREBASE_HOSTNAME=
SALUS_SET_URL=https://salus-it500.com/includes/set.php

BROWSER_LAUNCH_HEADLESS=true
BROWSER_PRODUCT=chrome

#Uncoment this when using in rasspberry pi
#BROWSER_EXECUTABLE_PATH=chromium-browser 
